<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tour de France interactive visualisation</title>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script> 
    <link href="./public/styles/graph.css" rel="stylesheet">
    <script type="text/javascript" src="public/js/graph.js"></script>
  </head>
  <body>

    <p>This is graph.html</p>

	<div id="map_div"></div>
	<div id="text_div"></div>
	<div id="barchart_div"></div>
	<div id="heatmap_div"></div>

  </body>