<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tour de France interactive visualisation</title>

    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script> 
    
    <link href="./public/styles/map.css" rel="stylesheet">
    
    <!--Amchart maps-->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
  </head>
  <body>

    <p>This is map.html</p>
    <button id="btn">GC</button> 

    <div id="chartdiv"></div>

    <script type="module" src="public/js/map.js"></script>


    <div id="map_div"></div>
    <div id="text_div"></div>
    <div id="barchart_div"></div>
    <div id="heatmap_div"></div>

  </body>